.genre-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: space-around;
}

.genre-card {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 180px;
    border-radius: 10px;
    background-color: #f5ebe0;
}